body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("C:\Users\phani\Desktop\Files\SLASHmark\BASIC\task-3\react-weather-app\public\images\map.png");
  background-size: cover;
  background-position: top;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
